#result {
    /* flex-basis: 70%; */
    /* max-height: 100vh; */
    /* border: 1px solid red; */
    /* overflow: scroll; */
    /* overflow: hidden; */
    /* overflow: scroll; */
}

#result-header {
    /* text-align: center; */
}

#result-summary {
    display: flex;
    justify-content: space-between;
    border: 1px solid rgb(170, 170, 170);
    border-radius: 5px;
    box-shadow: 0 1px 10px rgba(83, 184, 225, 0.7);
    margin-top: 40px;
}

#result-summary > div {
    /* border: 1px solid green; */
    flex-basis: 33%;
    text-align: center;

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 20px 0;
}

.result-summary-item {
    height: 175px;
    width: 175px;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 50%;
    /* border: 1px solid rgb(170, 170, 170); */
    /* border: 1px solid black; */
    background-color: white;
    /* border: 1px solid rgb(96, 208, 125); */
    /* border: 1px solid rgb(83, 184, 225); */
    /* background-color: black; */
}

.result-summary-item > div {
    text-align: center;
}

#result-info-container {
    margin-top: 40px;
    font-weight: 700;
}

#result-info {
    font-weight: 400;
}

.result-item {
    margin-bottom: 10px;
    cursor: pointer;
    border-radius: 5px;
    font-weight: 550;
}

.result_item_correct {
    border: 2px solid green;
}

.result_item_incorrect {
    border: 2px solid red;
}

.result-item-overview {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
}

.result-question {
    margin: 0;
}

.result-expand-btn {
    font-size: 1.4em;
}
