#result {
    /* flex-basis: 70%; */
    /* max-height: 100vh; */
    /* border: 1px solid red; */
    /* overflow: scroll; */
    /* overflow: hidden; */
    /* overflow: scroll; */
}

#result-header {
    /* text-align: center; */
}

#result-summary {
    border: 1px solid red;
    display: flex;
    justify-content: space-between;
}

#result-summary > div {
    border: 1px solid green;
    flex-basis: 33%;
}

#result-info-container {
    font-weight: 700;
}

#result-info {
    font-weight: 400;
}

.result-item {
    margin-bottom: 10px;
    cursor: pointer;
    border-radius: 5px;
    font-weight: 550;
}

.result_item_correct {
    border: 2px solid green;
}

.result_item_incorrect {
    border: 2px solid red;
}

.result-item-overview {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
}

.result-question {
    margin: 0;
}

.result-expand-btn {
    font-size: 1.4em;
}
