#startQuiz {
    /* flex-basis: 65%; */
    text-align: center;
}

#welcomeMessage {
    font-size: 3em;
}

#quizSettingsForm {
    display: flex;
    flex-direction: column;
    font-weight: 700;
    text-align: left;
}

#quizSettingsForm label {
    margin-bottom: 2px;
}

#quizSettingsForm input,
#quizSettingsForm select {
    /* border: 1px solid red !important; */
    /* background-color: black; */
    border: 1px solid rgb(170, 170, 170) !important;
    flex-basis: 0 98%;
    height: 45px;
    /* Make sure margin-bottom gets targetted for the child. */
    margin-bottom: 15px;
    margin-left: 0;
    margin-right: 0;
    font-size: 1.1em;
    border-radius: 5px;
    /* border: 1px solid grey; */
    /* padding: 10px 0; */
}

#quizSettingsForm select {
    line-height: 45px;
    border: none;
}

#quizSettingsFormSubmit {
    /* border: 1px solid rgb(83, 184, 225); */
    border: 1px solid rgb(170, 170, 170);
    color: rgb(255, 255, 255);
    cursor: pointer;
}

#quizSettingsFormSubmit:active {
    box-shadow: 4px 4px 5px grey;
    transform: translateY(1px);
}

/* Extra small devices (portrait phones, less than 576px) */
@media(max-width: 575.98px) {}

/* Small devices (landscape phones, less than 768px) */
@media(max-width: 767.98px) {
    #quizSettingsForm input,
    #quizSettingsForm select {
        width: 100%;
    }

    #welcomeMessage {
        font-size: 2em;
    }
}

/* Medium devices (tablets, less than 992px) */
@media(max-width: 991.98px) {}

/* Large devices (desktops, less than 1200px) */
@media(max-width: 1199.98px) {}

/* Extra large devices (large desktops, 1200px and up) */
@media(min-width: 1200px) {

}

/* // Extra large devices (large desktops) */
/* // No media query since the extra-large breakpoint has no upper bound on its width */
