.bg-cl-1 {
  background-color: rgb(239, 239, 239);
}

.bg-cl-2 {
  background-color: rgb(83, 184, 225);
}

.bg-cl-3 {
  background-color: rgb(96, 208, 125);
}

.text-cl-1 {
  color: rgb(239, 239, 239);
}

.text-cl-2 {
  color: rgb(83, 184, 225);
}

.text-cl-3 {
  color: rgb(96, 208, 125);
}
