html, body {
    height: 100%;
    background-color: rgb(238, 186, 91) !important;
}

html {
    /* height: 100%; */
    /* width: 100%; */
    /* overflow: hidden; */
}

body {
    margin: 0;
    /* height: 100%; */
    /* overflow: auto; */
    font-family: 'Trebuchet MS', 'Tahoma', 'Arial';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
