html {
    overflow: hidden;
    height: 100%;
}
body {
    height: 100%;
    overflow: auto;
    background-color: rgb(238, 186, 91);
}

body {
    margin: 0;
    font-family: 'Trebuchet MS', 'Tahoma', 'Arial';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
